  <% content_for :nav_path do %>
    <div>nav_path: /</div>
  <% end %>

  <div>
    <p>Post your messages here about topics such as open source, BSD, GNU/Linux, system administration and programming.</p>
    <ul class="index">

      <% @posts.each do |post| %>
        <li>
          <div><a href="posts/<%= post.id %>"><%= post.title %></a></div>
          <div class="index-pubdate">Published on <%= post.created_at %> | Modified on <%= post.updated_at %> | Authored by <%= post.user.email %></div>
        </li>
      <% end %>

    </ul>
  </div>

